<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title th:text="#{titulo.coches}">Coches</title>
</head>

<body>
	<h1 th:text="#{titulo.coches}">Coches</h1>

	<select th:field="*{fuenteEnergia}">
	    <option value="Gasolina" th:selected="${fuenteEnergia == 'Gasolina'}">Gasolina</option>
	    <option value="opcion2" th:selected="${selectedOption == 'opcion2'}">Opción 2</option>
	    <option value="opcion3" th:selected="${selectedOption == 'opcion3'}">Opción 3</option>
	</select>
	
	<div th:if="${coches.isEmpty()}">
		<p th:text="#{message.nohaycoches}"></p>
	</div>
	
	<div th:unless="${coches.isEmpty()}">
		<table style="border: 1px solid black;">
			<tr>
				<th th:text="#{coche.marca}"></th>
				<th th:text="#{coche.modelo}"></th>
				<th th:text="#{coche.precio}"></th>
				<th th:text="#{coche.anyo}"></td>
			</tr>
			<tr th:each="coche : ${coches}">
				<td th:text="${coche.marca}"></td>
				<td th:text="${coche.modelo}"></td>
				<td th:text="${coche.precio}"></td>
				<td th:text="${coche.ano}"></td>
			</tr>
		</table>

	</div>
	
</body>

</html>
